.container {
  /* --square-borders: 5px solid; */
  --square-dimensions: 100px;
  --symbol-dimensions: calc(var(--square-dimensions) * 0.9);
}

.inputs {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.container {
  display: grid;
  grid-template: repeat(3, var(--square-dimensions)) / repeat(
      3,
      var(--square-dimensions)
    );
  gap: 1rem;
}

.square {
  font-size: var(--square-dimensions);
  line-height: var(--square-dimensions);
  text-align: center;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.square.x,
.square.o {
  cursor: not-allowed;
}

.square.x::before,
.square.x::after,
.square.o::before {
  background-color: black;
}

.container.x .square:not(.x):not(.o):hover::before,
.container.x .square:not(.x):not(.o):hover::after,
.container.o .square:not(.x):not(.o):hover::before {
  background-color: rgb(216, 216, 216);
}

.square.x::before,
.container.x .square:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.square.x::after,
.container.x .square:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

.square.x::before,
.square.x::after,
.container.x .square:not(.x):not(.o):hover::before,
.container.x .square:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--symbol-dimensions) * 0.15);
  height: var(--symbol-dimensions);
}

.square.o::before,
.square.o::after,
.container.o .square:not(.x):not(.o):hover::before,
.container.o .square:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.square.o::before,
.container.o .square:not(.x):not(.o):hover::before {
  width: calc(var(--symbol-dimensions) * 0.85);
  height: calc(var(--symbol-dimensions) * 0.85);
}

.square.o::after,
.container.o .square:not(.x):not(.o):hover::after {
  width: calc(var(--symbol-dimensions) * 0.55);
  height: calc(var(--symbol-dimensions) * 0.55);
  background-color: antiquewhite;
}
