.setDiffForm {
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 10px;
}

.setDiffForm > * {
  background-color: antiquewhite;
  border: none;
  border-radius: 3px;
  height: 20px;
}

.playerName {
  padding: 0 3px;
}

@media (max-width: 390px) {
  .setDiffForm {
    width: 40vw;
  }
}
