.home {
  display: flex;
  justify-content: space-between;
  margin: 0 14vw;
  gap: 2vw;
}

.home > span {
  align-self: center;
  left: 30%;
}
.workouts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  max-height: 69vh;
  overflow: auto;
}

/* ::-webkit-scrollbar {
  width: 0.5vw;
} */

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background: antiquewhite;
}

@supports (scrollbar-color: antiquewhite transparent) {
  * {
    scrollbar-color: antiquewhite transparent;
    scrollbar-width: thin;
  }
}
