.login {
  width: 300px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
}

.login h2 {
  align-self: center;
}

.login input {
  border-radius: 5px;
  height: 20px;
  padding: 0 3px;
  border: 1px solid black;
  outline: none;
  background: antiquewhite;
}

.login button {
  align-self: center;
  background-color: antiquewhite;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  margin-top: 10px;
}

.login button:hover {
  cursor: pointer;
  background-color: black;
  color: antiquewhite;
}
