* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  background: url("/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: antiquewhite;
  overflow-x: hidden;
}

.login-signup,
.loading-login-signup {
  width: 300px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: flex-start;
}

.filler {
  width: 392px;
}

.loading-login-signup {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 250px;
}

.loader-text {
  text-align: center;
  color: transparent;
  background-image: linear-gradient(to left, antiquewhite, black);
  animation: textColor 7s linear infinite;
  background-size: 500%;
  background-clip: text;
}

.login-signup h2 {
  align-self: center;
}

.login-signup input {
  border-radius: 5px;
  height: 20px;
  padding: 0 3px;
  border: 1px solid black;
  outline: none;
  background: antiquewhite;
}

.login-signup button {
  align-self: center;
  background-color: antiquewhite;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  margin-top: 10px;
  padding: 3px 10px;
}

.login-signup button:hover {
  cursor: pointer;
  background-color: black;
  color: antiquewhite;
}

.login-signup .error {
  margin-top: 10px;
  color: red;
  text-align: center;
  grid-area: auto / span 2;
}

@keyframes textColor {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

@media (max-width: 1250px) {
  .filler {
    width: auto;
  }
}

@media (max-width: 800px) {
  .filler.left {
    display: none;
  }
}
