.TicTacToe {
  backdrop-filter: blur(20px);
  border-radius: 10px;
  max-width: 450px;
  padding: 30px;
  position: absolute;
  top: 43%;
  right: 0%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.TicTacToe > h3 {
  margin-bottom: 10px;
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 20px;
  filter: invert(92%) sepia(8%) saturate(870%) hue-rotate(327deg)
    brightness(105%) contrast(96%);
  transition: transform 0.2s ease-in-out;
}

.close:hover {
  cursor: pointer;
  transform: scale(1.5);
}
