@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rubik+Burned&display=swap");

.container {
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

.container * {
  text-decoration: none;
  text-shadow: -1px -1px 0 antiquewhite, 1px -1px 0 antiquewhite,
    -1px 1px 0 antiquewhite, 1px 1px 0 antiquewhite;
  color: black;
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
}

h1 {
  font-size: 50px;
}

nav a {
  font-size: 20px;
  margin-left: 30px;
}
