@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rubik+Burned&display=swap");

.container {
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

.container * {
  text-decoration: none;
  text-shadow: -1px -1px 0 antiquewhite, 1px -1px 0 antiquewhite,
    -1px 1px 0 antiquewhite, 1px 1px 0 antiquewhite;
  color: black;
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
  transition: text-shadow 0.2s ease-in-out;
}

.container a:hover,
.container h1:hover {
  text-shadow: -1px -1px 0 aqua, 1px -1px 0 aqua, -1px 1px 0 aqua,
    1px 1px 0 aqua;
}

h1 {
  font-size: 50px;
}

nav a {
  font-size: 20px;
  margin-left: 30px;
}

.container button {
  margin-left: 20px;
  justify-self: center;
  background-color: antiquewhite;
  border-radius: 5px;
  height: 25px;
  width: 100px;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid;
  font-family: "Courier New", Courier, monospace;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.container button:hover {
  cursor: pointer;
  background-color: black;
  color: antiquewhite;
}
