@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rubik+Burned&display=swap");

.container {
  margin: 50px;
  display: flex;
  align-self: flex-start;
}

.container > * {
  text-decoration: none;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
  text-shadow: -1px -1px 0 antiquewhite, 1px -1px 0 antiquewhite,
    -1px 1px 0 antiquewhite, 1px 1px 0 antiquewhite;
  color: black;
  font-size: 50px;
}
